<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="ThemeMarch">
    <meta http-equiv="refresh" content="15;url=https://localhost:7117/Hesap/Giris" />
  <!-- Site Title -->
  <title>About us</title>
  <link rel="stylesheet" href="~/client/assets/css/plugins/fontawesome.min.css">
  <link rel="stylesheet" href="~/client/assets/css/plugins/bootstrap.min.css">
  <link rel="stylesheet" href="~/client/assets/css/plugins/slick.css">
  <link rel="stylesheet" href="~/client/assets/css/style.css">
</head>

<body>

  <div class="cs-preloader cs-center">
    <div class="cs-preloader_in"></div>
    <span>Loading</span>
  </div>

  <div class="container">
    <div class="cs-cta cs-style1 cs-type1 cs-bg">
      <div class="cs-cta_right">
        <h2 class="cs-cta_title">Hesabınız onaylanmıştır</h2>
        
        <a asp-controller="Hesap" asp-action="Giris" class="cs-btn cs-style1 cs-btn_lg"><span>GİRİŞ</span></a>
      </div>
      <div class="cs-cta_img text-center"><img src="~/client/assets/img/general/cta2.svg" alt="Image"></div>
    </div>
  </div>
  
  
 
  <!-- Script -->
  <script src="~/client/assets/js/plugins/jquery-3.6.0.min.js"></script>
  <script src="~/client/assets/js/plugins/isotope.pkg.min.js"></script>
  <script src="~/client/assets/js/plugins/jquery.slick.min.js"></script>
  <script src="~/client/assets/js/main.js"></script>
</body>
</html>