@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="tab-content" data-aos="fade-up" data-aos-delay="300">

    <div class="tab-pane fade active show" id="menu-starters">

        <div class="tab-header text-center">
            <h1>HAKKIMIZDA</h1>
        </div>
        <section class="about_section layout_padding-bottom layout_padding2-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="img-box">
                            <img src="~/client/images/hakkimizda/yavru-kedi-yavru-kopek.jpg" style="width:1100px;height:600px" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="detail-box">
                            <div class="thead-dark">
                                <br /> <br />
                                <p>
                                <p>
                                    <font face="tahoma" size="5" color="maroon">
                                        <b>Biz patililer olarak satın almaya karşıyız.O yüzden de satın alma sahiplen sözü altında bu platformu kurduk.Sende satın alma, onlara yuva ol.</b>
                                    </font>
                                </p>
                                <p>
                                    <font face="tahoma" size="5" color="black">
                                        <b>Bu sayfada neler yapabilirsin?</b>
                                    </font>
                                </p>                               
                                Ücretsiz evcil hayvan sahiplendirme ilanlarına göz atabilir, bir canlı sahiplenebilirsin.Aradığın canlıyı bulamadıysan, arıyorum ilanı bırakabilirsin.Pet için eş arıyorsan, eş arıyorum ilanı ekleyebilirsin.<br />
                                Dikkat :Kimseye ödeme yapmayın, dolandırılma riski var! Bu site satış sitesi değildir.Size yakın şehirlerden elden satın almaya özen gösterin.

                                </p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
